@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700');

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans', sans-serif;
}

#mySkills,
#workSection {
    margin-top: 150px;
}

body {
    background-color: #161616;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#mainWrapper {
    display: flex;
    flex-wrap: wrap;
}

#mainSection {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

#menuBarWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10000;
    padding: 35px 30px 0;
}
.scrolled-nav-background {
    background-color: #000;
}

#logoContainer {
    align-items: center;
    justify-content: center;

}

.logo a {
    font-size: 26px;
    color: #fff;
    transition: all ease-in-out 150ms;
}

.logo a:hover {
    color: #00BCD4;
}

#menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menuLinks {
    font-size: 24px;
    padding: 10px 15px;
    font-weight: 600;
}

.menuLinkAnchors {
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

.menuLinkAnchors:hover {
    color: #00a8c5;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    width: 80%;
    margin-left: 250px;
}

.name,
.title {
    letter-spacing: -1px;
    font-size: 15rem;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    z-index: 1000;
    text-shadow: -5px 5px 15px #0c0c0c;
}

.nameContainer span {
    display: inline-block;
    transition: all 400ms cubic-bezier(.19, .84, 1, 1);
    font-family: 'IBM Plex Sans', sans-serif;
}

.nameContainer span:hover {
    transform: translate(0, -25px);
    color: #00a8c5;
    cursor: default;
}

.workButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workButton {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workButton a {
    font-size: 2.5rem;
    padding: 15px 25px;
    background: #00a8c5;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all ease-in-out 125ms;
}

.workButton a:hover {
    color: #000;
}

.workButtonLine {
    width: 60%;
    height: 5px;
    background: #00BCD4;
}

/* Skills Section */
.skills:hover .skill-title {
    color: #00BCD4;
}

#mySkills {
    width: 100%;
    position: relative;
    z-index: 1000;
    height: 500px;
    display: flex;
}

#mySkills .multi-color-bg {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    align-content: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.skills {
    /* visibility: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    box-sizing: border-box;
    flex-basis: 15%;
    transition: all ease 300ms;
    min-width: 100px;
}

.skills:hover .fa-js {
    color: #f0db4f;
}

.skills:hover .fa-css3-alt {
    color: rgb(38, 77, 228);
}

.skills:hover .fa-drupal {
    color: rgb(0, 114, 192);
}

.skills:hover .fa-html5 {
    color: #e54c21;
}

.skills:hover .fa-git-square {
    color: rgb(240, 80, 51);
}

.skills:hover .fa-github {
    color: rgb(184, 184, 184);
}

.skill-title {
    color: #fff;
    font-size: 34px;
    margin: 0px 2px;
    font-size: 28px;
    transition: all ease 300ms;
}

.fa-drupal,
.fa-js,
.fa-html5,
.fa-css3-alt,
.fa-github,
.fa-git-square {
    font-size: 100px;
    color: #fff;
    transition: all ease 300ms;
}

.skill-card-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.card-title {
    font-size: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 auto 100px 0;
    padding-top: 20px;
    color: #fff;
}

.card-description {
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    margin: 20px 0;
    width: 100%;
}

/* Work section number One */
#workSection {
    width: 100%;
}

.projectsContainer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row wrap;
    margin-top: 150px;
    width: 90%;
    margin: 0 auto;
}

.project {
    width: 30%;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectAbout {
    width: 50%;
    position: absolute;
    left: 50px;
    color: white;
    z-index: 100;
    text-shadow: -4px 1px #000;
}

.projectTitle {
    font-size: 3.5rem;
    color: #00BCD4;
}

.projectText {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.imageContainer {
    position: relative;
}

.imageOverlay {
    width: 300px;
    height: 300px;
    left: 100px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(217deg, rgba(92, 92, 92, 0) 0%, rgba(27, 27, 27, 1) 100%);
}

.projectImage {
    background: url(knight-watches.PNG);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 300px;
    height: 300px;
    position: relative;
    left: 100px;
}

/* Contact Form */
#contactSection {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    flex-direction: column;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 100px 60px 100px;
    box-sizing: border-box;
    flex-flow: row wrap;
}

.contact-form {
    width: 75%;
}

.label {
    width: 100%;
    font-size: 2.6rem;
    color: silver;
    padding: 10px 0;
}

input[type="text"] {
    width: 100%;
    height: 40px;
    background: #161616;
    border: none;
    font-size: 2rem;
    color: #fff;
    border-bottom: 2px solid #fff;
}

form.contact-form input:hover,
form.contact-form textarea:hover,
form.contact-form input:active,
form.contact-form textarea:active,
form.contact-form input:focus,
form.contact-form textarea:focus {
    border-color: #00BCD4;
    outline-width: 0;
}

textarea {
    width: 100%;
    height: 200px;
    font-size: 2rem;
}

.submit-button {
    border-width: 0;
    font-size: 2.6rem;
    padding: 10px 30px;
    margin-top: 20px;
    background: #00BCD4;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
#message {
    color: #f20505;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-style: italic;
}

#footer {
    width: 100%;
    height: 400px;
}

.main-footer {
    background: #161616;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.main-footer .footer-links {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.main-footer .footer-links li {
    list-style: none;
    transition: all ease 300ms;
}

.main-footer .footer-links li:hover {
    padding-left: 10px;
}

.main-footer .footer-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.company-icons i {
    font-size: 30px;
    display: flex;
    color: white;
    transition: all ease 300ms;
}


.main-footer .company-icons {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.company-icons li {
    list-style: none;
    padding-right: 5px;
}

.company-icons li a {
    text-decoration: none;
}

.icon-container {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    transition: all ease 300ms;
}

.icon-container:hover {
    background-color: #fff;
}

.icon-container:hover i {
    color: #00BCD4;
}

.footer-links li a i {
    padding-right: 10px;
}

.copyright {
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
}

.copyright p {
    margin: 0;
}

/* Animations Classes */
.fall-in-animation {
    animation: fall-from-top 2s ease 0s;
    visibility: visible;
}

.slide-in-from-left {
    animation: slide-in-from-left 1.8s ease-in-out 0s;
    visibility: visible;
}

.slide-in-from-right {
    animation: slide-in-from-right 2s ease-in-out 0s;
    visibility: visible;
}

.fade-in-opacity {
    animation: fade-in-opacity 2s ease 500ms;
}

.fade-in-opacity-2 {
    animation: fade-in-opacity 3s ease 500ms;
    visibility: visible;
}

.rise-from-bottom {
    animation: rise-from-bottom 500ms ease-in-out 0s;
    visibility: visible;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}
/* Web Saftey Page */
#bestPractices {
    width: 100%;
    padding: 30px 50px;
}
#bestPractices li {
    color: #00BCD4;
    font-size: 3rem;
    letter-spacing: 1px;
    padding-top: 25px;
}
#bestPractices li p {
    font-size: 1.8rem;
    color: #fff;
    line-height: 40px;
    letter-spacing: 1px;
}
.navigationInformation {
    font-size: 2.6rem;
    color: #fff;
}
/* Key Frames */
@keyframes fall-from-top {
    0% {
        opacity: 0;
        transform: translateY(-150%);
    }

    33% {
        opacity: 0.3;
    }

    66% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes wheelScrolled {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rise-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slide-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        opacity: 0.3;
    }

    80% {
        transform: translateX(10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide-in-from-right {
    0% {
        opacity: o;
        transform: translateX(100%);
    }

    50% {
        opacity: 0.3;
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-in-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fast-fall-from-top {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}